.navigate{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 400;
    margin-top: 50px;
} 


.nav{
   width: 100px;
   height: 60px;
   font-size: x-large;
   font-weight: bold;
   background-color:pink;
 

}